HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.lst

target
*.classpath
*.prefs
*.class
*.*/build/classes/*.*
jacoco-reports/*
mvnw.cmd
HELP.MD
.sts4-cache/classpath-data.json
/mvnw
hs_err*.log
replay_*.log
